@import 'vsm.scss';
@import 'table.scss';

@import 'primeicons/primeicons.css';

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
	@import 'tailwindcss/base';
}

@layer tailwind-utilities {
	@import 'tailwindcss/components';
	@import 'tailwindcss/utilities';
}


:root {
  --bs-primary: #ffd200;
  --bs-secondary-lighter: #00857a;
  --bs-secondary-light: #00716b;
  --bs-secondary: #005e5d;
  --bs-secondary-rgb: 1, 92, 91;
  --bs-secondary-dark: #004d4b;
  --bs-secondary-darker: ;
  --bs-info: #17a2b8;
  --bs-success: #28a745;
  --bs-info-rgb: 23, 162, 184;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

.container-fluid {
  --bs-gutter-x: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* Table */
.table .thead-light th {
  background-color: #e4f9f5;
}

#rule-analysis-table th,
#scan-findings-table th,
#repositories-table th {
  cursor: pointer !important;
}

#rule-analysis-table tr,
#scan-findings-table tr,
#rule-metrics-table tr {
  cursor: pointer !important;
}

#rule-analysis-table .tabs,
#scan-findings-table .tabs {
  cursor: default !important;
}

#audit-history-table tr {
  cursor: auto !important;
}

.b-table-details {
  border-left: 2px solid #b3daeb !important;
  border-right: 2px solid #b3daeb !important;
  border-bottom: 2px solid #b3daeb !important;
}

.b-table-details td {
  padding: 0;
}

.b-table-has-details {
  border-top: 2px solid #b3daeb !important;
  border-left: 2px solid #b3daeb !important;
  border-right: 2px solid #b3daeb !important;
  background-color: #e4f9f5;
}

/* Tabs */
.tab-content {
  height: 250px;
  overflow: hidden;
}

.download-button {
  color: #3893e2;
  cursor: pointer;
}

.row-unclickable {
  cursor: not-allowed !important;
}

.row-clickable {
  cursor: pointer !important;
}

.fade:not(.show) {
  display: none;
}

.rtl {
  direction: rtl;
  max-width: 70ch;
}
