@import 'vsm.scss';

@import 'primeicons/primeicons.css';

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
	@import 'tailwindcss/base';
}

@layer tailwind-utilities {
	@import 'tailwindcss/components';
	@import 'tailwindcss/utilities';
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* Tabs */
.tab-content {
  height: 250px;
  overflow: hidden;
}

.nav-pills .nav-link {
  padding: 0.2rem 0.7rem !important;
  font-size: smaller !important;
}

.nav-pills .tab-pills .nav-link {
  background-color: #38aba1 !important;
  font-weight: bold;
}

.nav-pills .tab-pills .nav-link:not(.active) {
  background-color: transparent !important;
  color: var(--bs-secondary);
  font-weight: bold;
}

/* Select all checkbox */
.checkbox label:hover {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default !important;
}

/* Go to page option in pagination */
.go-to-page-input {
  width: 30%;
  height: calc(1.5em + 0.5rem + 2px);
  font-size: small;
}

.go-to-page-btn,
.go-to-page-btn:hover,
.go-to-page-btn:active,
.go-to-page-btn:visited {
  font-size: 16px;
  background-color: var(--bs-primary) !important;
  color: #222;
  font-family: inherit;
  border: 1px solid transparent;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s,
    border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.go-to-page-btn:focus,
.go-to-page-btn.focus {
  color: #222;
  background-color: var(--bs-primary);
  border: 1px solid transparent;
}

.go-to-page-btn.disabled,
.go-to-page-btn:disabled {
  color: gray;
  background-color: #ccc !important;
  cursor: not-allowed;
  border: 1px solid transparent;
}

.disabled-button {
  opacity: 0.5;
  pointer-events: none;
}

.download-button {
  color: #3893e2;
  cursor: pointer;
}

.row-unclickable {
  cursor: not-allowed !important;
}

.row-clickable {
  cursor: pointer !important;
}

.card-box {
  height: 100px;
  width: 200px;
}

.card-box .card-header {
  background-color: #e4f9f5;
}

.fade:not(.show) {
  display: none;
}

.bg-secondary {
  --bs-bg-opacity: 0.75;
}

.rtl {
  direction: rtl;
  max-width: 70ch;
}
