/* SideBar Navigation */
.sidebar-closed {
  padding-left: 65px;
  transition-duration: 0.3s;
}

.sidebar-opened {
  padding-left: 250px;
  transition-duration: 0.3s;
}

.vsm--item > a.vsm--link_level-1 > .svg-inline--fa {
  padding: 5px !important;
}

.dark .v-sidebar-menu {
  --primary-bg: var(--p-teal-850);
  --secondary-bg: var(--p-teal-920);
}

.v-sidebar-menu {
  --secondary-bg: var(--p-teal-550);
  --primary-bg: var(--p-teal-850);

  --vsm-item-color: #fff;
  --vsm-base-bg: var(--primary-bg);
  --vsm-icon-active-bg: var(--primary-bg);
  --vsm-toggle-btn-bg: var(--secondary-bg);
  --vsm-item-open-bg: var(--primary-bg);
  --vsm-dropdown-bg: var(--primary-bg);
  --vsm-item-line-height: 30px;
  --vsm-icon-height: 20px;
  --vsm-icon-width: 20px;
  --vsm-item-font-size: 14px;
  --vsm-item-padding: 10px;
  --vsm-icon-bg: var(--primary-bg);
  z-index: 20;

  .vsm--header {
    font-size: 12px;
    padding: 10px;
  }

  .vsm--icon {
    background-color: var(--primary-bg);
    height: 20px;
    line-height: 20px;
    width: 20px;
    padding: 5px;
  }
  
  .vsm--link_level-1.vsm--link_exact-active,
  .vsm--link_level-1.vsm--link_active {
    box-shadow: 3px 0 0 0 var(--p-primary-500) inset;
  }

  .vsm--mobile-item {
    display: none;
  }

  .vsm--toggle-btn {
    height: 50px;
  }
}

.vsm--mobile-bg {
  background-color: var(--primary-bg);
}

.collapse-arrow {
  cursor: pointer;
  color: #37aba1;
}
